.header {
	background: url()
}

.link {
	width: 100%;
	min-width: 1004px;
	height: 60px;
}

.link-box {
	width: 1004px;
	margin: 0 auto;
	height: 57px;
	position: relative;
	overflow: hidden;
}


.link-box .logo p {
	display: block;
	font-size: 50px;
	font-weight: bold;
	line-height: 50px;
	width: 800;
	text-align: center;
	color: rgb(29, 28, 28);
}


/* menu navigation */
.menu {
	width: 1004px;
	height: 0 auto;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
	background-repeat: repeat-x;
	border-top: 3px solid #b30000;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.menu li {
	width: 25%;
	float: left;
	border-left: 1px solid red;
}

.menu li a {
	display: block;
	font-size: 26px;
	font-weight: bold;
	line-height: 50px;
	width: 800;
	text-align: center;
	color: rgb(29, 28, 28);
}

.menu li a:hover {
	background: #9a001d;
}